<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="myCtrl">
    <!--
    过滤器: 对数据进行筛选或格式化
    -->
    <!--currency: 货币格式-->
    <p>{{number | currency}}</p>
    <!--修改货币符号-->
    <p>{{number | currency:'￥'}}</p>
    <!--小数点后保留几位-->
    <p>{{number | currency:'￥':10}}</p>
    <!--lowercase: 小写-->
    <p>{{str | lowercase}}</p>
    <!--uppercase: 大写-->
    <p>{{str | uppercase}}</p>
    <!--date: 时间格式-->
    <p>{{time | date}}</p>
    <p>{{time | date:"yyyy年MM月dd日 HH:mm:ss a"}}</p>
    <p>{{time1 | date}}</p>
    <p>{{time1 | date:"yyyy年MM月dd日 HH:mm:ss a":"UTC+8"}}</p>
    <!--number: 转数字, 并格式化-->
    <p>{{num | number}}</p>
    <p>{{"34567" | number}}</p>
    <p>{{"34567" | number:2}}</p>

    <ul>
        <!--升序-->
        <li ng-repeat="student in students | orderBy:'age'">
            {{student.name}}----{{student.age}}
        </li>
        <hr>
        <!--降序-->
        <li ng-repeat="student in students | orderBy:'age':true">
            {{student.name}}----{{student.age}}
        </li>
        <hr>
        <!--取前几条数据-->
        <li ng-repeat="student in students | limitTo:2">
            {{student.name}}----{{student.age}}
        </li>
        <hr>
        <!--是否包含某个内容-->
        <input type="text" ng-model="key">
        <li ng-repeat="student in students | filter:key">
            {{student.name}}----{{student.age}}
        </li>
        <hr>
        <!--条件查找-->
        <li ng-repeat="student in students | filter:{age : 20}">
            {{student.name}}----{{student.age}}
        </li>
        <!--自定义过滤器-->
        <!--在过滤器名字的后面写:, 代表向过滤器的功能函数中传参数-->
        <h1>年龄: {{myAge | age}}</h1>
        <h1>年龄: {{myAge | age:20}}</h1>
    </ul>

    <script type="text/javascript" src="angular.min.js"></script>
    <script>
        //过滤器需要单独写模块, 不能在当前的模块中添加
        var module = angular.module("filters", []);
        //创建过滤器
        //module.filter(过滤器的名字, 过滤器的功能)
        module.filter('age', function () {
            //返回一个函数
            return function (data, value) {
                //判断是否传递参数value
                if (angular.isUndefined(value)) {
                    return data - 3;
                }
                //data: 过滤的数据
                return data - value;
            }
        });
        //注: 因为当前的模块和过滤器的模块不是同一个模块, 需要将过滤器的模块导入到当前模块中(依赖注入)
        var app = angular.module("myApp", ["filters"]);
        app.controller("myCtrl", function ($scope) {
            $scope.number = 123456789.666;
            $scope.str = "Hello World!";
            //IOS: 苹果手机操作系统
            //OSI: 开放式网络互连, 网络的七层架构
            //ISO: 国际化标准组织
            $scope.time = "2016-05-12T10:37:30.666Z";
            //毫秒时间戳
            $scope.time1 = 1476265973678;
            $scope.num = 12345;
            $scope.students = [
                {name: 'zhangsan', age: 20},
                {name: 'lisi', age: 10},
                {name: 'wangwu', age: 40}
            ];
            $scope.myAge = 50;
        });
    </script>
</body>
</html>